#numItem:hover {
  background-color: #ccff;
  color: #333;
  cursor: pointer;
}

.selected-row {
  background-color: #ccff;
}


#numAdjunto:hover {
  background-color: #ccff;
  color: #333;
  cursor: pointer;
}

.selected-file {
  background-color: #ccff;
}



